.edit-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-input {
  display: flex;
  justify-content: space-around;
}