.table-header {
  height: 60px;
  background: #36304a;

  .header-row {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    text-align: left;
    padding: 8px;
  }
}
